.wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
  
ul {
    list-style: none;
    border: 1px solid green;
    background: lightblue;
    border-radius: 15px;
    margin: 5px 0 5px 35px;
    padding: 5px;
}
  
ul ul {
    background: rgba(63, 233, 225, 0.39);
}
  
ul ul ul {
    background: lightsteelblue;
}
  
ul ul ul ul {
    background: lightsalmon;
}
  
.webLink {
    color: rgb(20, 25, 167);
}